/* LAYOUT */

$breakpoint-mobile: 375px;
$breakpoint-desktop: 1440px;

/* COLORS*/
/* Official colors */
$color-primary-desaturated-dark-cyan: hsl(180, 29%, 50%);
$color-neutral-light-grayish-cyan-background: hsl(180, 52%, 96%);
$color-neutral-light-grayish-cyan-filter-tablets: hsl(180, 31%, 95%);
$color-neutral-dark-grayish-cyan: hsl(180, 8%, 52%);
$color-neutral-very-dark-grayish-cyan: hsl(180, 14%, 20%);

/* Shorthand */
$primary: $color-primary-desaturated-dark-cyan;
$light-bg: $color-neutral-light-grayish-cyan-background;
$light-tabs: $color-neutral-light-grayish-cyan-filter-tablets;
$dark: $color-neutral-dark-grayish-cyan;
$darker: $color-neutral-very-dark-grayish-cyan;

/* Extras */
$focus: hsla(180, 29%, 50%, 50%);
